.btn {
    border-radius: var(--border-radius);
    outline: none;
    border: none;
    cursor: pointer;
}

/*---------------------------- BTN TYPE ----------------------------*/

.btn--primary {
    transition: var(--transition);
    border: none;
    position: relative;
    overflow: hidden;
    border: 1px solid;
}

.btn--outline {
    background: transparent;
    position: relative;
    overflow: hidden;
    border: 1px solid;
}
.btn--outline::before {
    content: attr(data-btn);
    position: absolute;
    inset: 0 100% 0 0;
    transition: var(--transition);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
}
.btn--outline:hover:before {
    inset: 0 0 0 0;
    opacity: 1;
}

/*---------------------------- BTN SIZE ----------------------------*/

.btn--medium {
    padding: 0.3rem 1.5rem;
    font-size: 16px;
}

.btn--large {
    padding: 0.5rem 2rem;
    font-size: 18px;
}

.btn--small {
    width: 60px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
}

/*---------------------------- BTN COLOR ----------------------------*/

.btn--black {
    color: var(--clr-black);
    border-color: var(--clr-black);
}
.btn--black::before {
    background: var(--clr-black);
    color: var(--clr-white);
}

.btn--white {
    color: var(--clr-white);
    border-color: var(--clr-white);
}
.btn--white::before {
    background: var(--clr-white);
    color: var(--clr-black);
}

/*---------------------------- BTN POSITION ----------------------------*/

.btn--relative {
    position: relative;
}
.btn--absolute {
    position: absolute;
    bottom: var(--global-gap);
    right: var(--global-gap);
    z-index: 1;
    pointer-events: all;
}